body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.error {
    color: red;
}

.coin {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background: #ddd;
}

.subscribed {
    background: #bdf;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
